In [1]:
import pandas as pd
import numpy as np

In [7]:
data=pd.read_csv("Weather Data.csv")

In [8]:
org_data=pd.read_csv("Weather Data.csv")

In [5]:
data['Weather']=org_data['Weather']

NameError: name 'data' is not defined

## head()
It shows the first N rows in the data (by default, N=5).

In [6]:
data.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog

## tail()
It shows the Last N rows in the data (by default, N=5).

In [7]:
data.tail()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

## shape
It shows the total no. of rows and no. of columns of the dataframe

In [8]:
data.shape

(8784, 8)

## describe()
It give Summary statistics for numerical columns

In [9]:
data.describe()

,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

## index
This attribute provides the index of the dataframe

In [11]:
data.index

RangeIndex(start=0, stop=8784, step=1)

## columns
It shows the name of each column

In [12]:
data.columns

Index(['Date/Time', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%',
       'Wind Speed_km/h', 'Visibility_km', 'Press_kPa', 'Weather'],
      dtype='object')

## dtypes
It shows the data-type of each column

In [13]:
data.dtypes

Date/Time            object
Temp_C              float64
Dew Point Temp_C    float64
Rel Hum_%             int64
Wind Speed_km/h       int64
Visibility_km       float64
Press_kPa           float64
Weather              object
dtype: object

## unique()
In a column, it shows all the unique values. It can be applied on a single column only, not on the whole dataframe.

In [19]:
data['Temp_C'].head(10).unique()
##unique values of starting 10 rows

array([-1.8, -1.5, -1.4, -1.3])

## nunique()
It shows the total no. of unique values in each column. It can be applied on a single column as well as on the whole dataframe.

In [20]:
data.nunique()

Date/Time           8784
Temp_C               533
Dew Point Temp_C     489
Rel Hum_%             83
Wind Speed_km/h       34
Visibility_km         24
Press_kPa            518
Weather               50
dtype: int64

## count()
It shows the total no. of non-null values in each column. It can be applied on a single column as well as on the whole dataframe.

In [21]:
data.count()

Date/Time           8784
Temp_C              8784
Dew Point Temp_C    8784
Rel Hum_%           8784
Wind Speed_km/h     8784
Visibility_km       8784
Press_kPa           8784
Weather             8784
dtype: int64

In [22]:
data.Temp_C.count()

8784

## value_counts()
In a column, it shows all the unique values with their count. It can be applied on a single column only.

In [24]:
data.Weather.value_counts()

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Thunderstorms,Rain Showers                   16
Haze                                         16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Snow,Ice Pellets                              6
Freezing Drizzle,Fog                          6
Snow,Haze                                     5
Freezing Fog                                  4
Snow Showers,Fog                              4
Moderate Snow                                 4
Rain,Snow,Ice Pellets                         4
Freezing Rain,Fog                             4
Freezing Drizzle,Haze                         3
Rain,Haze                                     3
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers,Fog                3
Freezing Rain,Haze                            2
Drizzle,Snow                                  2
Rain Showers,Snow Showers                     2
Thunderstorms                                 2
Moderate Snow,Blowing Snow                    2
Rain Showers,Fog                              1
Thunderstorms,Moderate Rain Showers,Fog       1
Snow Pellets                                  1
Rain,Snow,Fog                                 1
Moderate Rain,Fog                             1
Freezing Rain,Ice Pellets,Fog                 1
Drizzle,Ice Pellets,Fog                       1
Thunderstorms,Rain,Fog                        1
Rain,Ice Pellets                              1
Rain,Snow Grains                              1
Thunderstorms,Heavy Rain Showers              1
Freezing Rain,Snow Grains                     1
Name: Weather, dtype: int64

## info()
Provides basic information about the dataframe.

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date/Time         8784 non-null   object
 1   Temp_C            8784 non-null   float64
 2   Dew Point Temp_C  8784 non-null   float64
 3   Rel Hum_%         8784 non-null   int64
 4   Wind Speed_km/h   8784 non-null   int64
 5   Visibility_km     8784 non-null   float64
 6   Press_kPa         8784 non-null   float64
 7   Weather           8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

## iloc[N]
It select any row here N is row Number

In [28]:
data.iloc[0]

Date/Time           1/1/2012 0:00
Temp_C                       -1.8
Dew Point Temp_C             -3.9
Rel Hum_%                      86
Wind Speed_km/h                 4
Visibility_km                 8.0
Press_kPa                  101.24
Weather                       Fog
Name: 0, dtype: object

## loc([0], [column labels])
Select single value by row position & column labels

In [32]:
data.loc[1]

Date/Time           1/1/2012 1:00
Temp_C                       -1.8
Dew Point Temp_C             -3.7
Rel Hum_%                      87
Wind Speed_km/h                 4
Visibility_km                 8.0
Press_kPa                  101.24
Weather                       Fog
Name: 1, dtype: object

## sort_index()
It sort values using labels/column_name

In [34]:
data['Weather'].sort_index()

0                        Fog
1                        Fog
2       Freezing Drizzle,Fog
3       Freezing Drizzle,Fog
4                        Fog
                ...
8779                    Snow
8780                    Snow
8781                    Snow
8782                    Snow
8783                    Snow
Name: Weather, Length: 8784, dtype: object

## sort_values(column,ascending=True/False)
Sort Values Ascending or Descending ording using column Name

In [38]:
data.sort_values('Weather',ascending=False)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
4757,7/17/2012 5:00,20.6,18.6,88,19,4.8,100.08,"Thunderstorms,Rain,Fog"
4761,7/17/2012 9:00,22.9,21.3,91,17,9.7,99.84,"Thunderstorms,Rain Showers,Fog"
4323,6/29/2012 3:00,19.5,16.1,81,7,9.7,99.71,"Thunderstorms,Rain Showers,Fog"
5108,7/31/2012 20:00,22.4,18.7,80,35,9.7,100.64,"Thunderstorms,Rain Showers,Fog"
3580,5/29/2012 4:00,11.4,7.0,74,30,24.1,100.34,"Thunderstorms,Rain Showers"
...,...,...,...,...,...,...,...,...
1693,3/11/2012 13:00,9.0,-1.9,46,20,48.3,101.79,Clear
7086,10/22/2012 6:00,7.2,4.1,81,15,25.0,100.95,Clear
7085,10/22/2012 5:00,7.4,4.2,80,24,25.0,100.90,Clear
1694,3/11/2012 14:00,9.5,-1.6,46,24,48.3,101.74,Clear
6626,10/3/2012 2:00,11.3,11.2,99,7,25.0,101.32,Clear

## groupby()
Using groupby technique you can create a grouping of categories

In [113]:
data.groupby(['Weather']).mean()

Empty DataFrame
Columns: [Temp_C, Dew Point Temp_C, Wind Speed_km/h, Visibility_km, Press_kPa]
Index: []

## replace([row1, row2])
Using the DataFrame.replace() method in pandas, you can replace selected rows with other values.

In [126]:
data.replace(['Snow'],np.nan,inplace=True)

In [127]:
data

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather,weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog","Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog","Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog,Fog
...,...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,NaN,NaN
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,NaN,NaN
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,NaN,NaN
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,NaN,NaN
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,NaN,NaN

## fillna(value, inplace = True)
This function lets you fill empty rows with a particular value. You can fill all Nan rows in a dataset with the mean value, for instance:

In [136]:
data[data['Weather'].isnull()]=data['Weather'].fillna('Snow',inplace=True)

In [137]:
data

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather,weather
0,1/1/2012 0:00,-1.8,-3.9,86.0,4.0,8.0,101.24,Fog,Fog
1,1/1/2012 1:00,-1.8,-3.7,87.0,4.0,8.0,101.24,Fog,Fog
2,1/1/2012 2:00,-1.8,-3.4,89.0,7.0,4.0,101.26,"Freezing Drizzle,Fog","Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88.0,6.0,4.0,101.27,"Freezing Drizzle,Fog","Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88.0,7.0,4.8,101.23,Fog,Fog
...,...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81.0,30.0,9.7,100.13,Snow,NaN
8780,12/31/2012 20:00,0.2,-2.4,83.0,24.0,9.7,100.03,Snow,NaN
8781,12/31/2012 21:00,-0.5,-1.5,93.0,28.0,4.8,99.95,Snow,NaN
8782,12/31/2012 22:00,-0.2,-1.8,89.0,28.0,9.7,99.91,Snow,NaN
8783,12/31/2012 23:00,0.0,-2.1,86.0,30.0,11.3,99.89,Snow,NaN

## append()
Add any row in dataframe

In [144]:
empty_row = pd.Series(dtype='object')
data.append(empty_row,ignore_index=True)

C:\Users\Folio 9480m\AppData\Local\Temp\ipykernel_7404\1080467530.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data.append(empty_row,ignore_index=True)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather,weather
0,1/1/2012 0:00,-1.8,-3.9,86.0,4.0,8.0,101.24,Fog,Fog
1,1/1/2012 1:00,-1.8,-3.7,87.0,4.0,8.0,101.24,Fog,Fog
2,1/1/2012 2:00,-1.8,-3.4,89.0,7.0,4.0,101.26,"Freezing Drizzle,Fog","Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88.0,6.0,4.0,101.27,"Freezing Drizzle,Fog","Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88.0,7.0,4.8,101.23,Fog,Fog
...,...,...,...,...,...,...,...,...,...
8780,12/31/2012 20:00,0.2,-2.4,83.0,24.0,9.7,100.03,Snow,NaN
8781,12/31/2012 21:00,-0.5,-1.5,93.0,28.0,4.8,99.95,Snow,NaN
8782,12/31/2012 22:00,-0.2,-1.8,89.0,28.0,9.7,99.91,Snow,NaN
8783,12/31/2012 23:00,0.0,-2.1,86.0,30.0,11.3,99.89,Snow,NaN
8784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## dropna()
The dropna() method removes all rows containing null values:

In [146]:
data.dropna()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather,weather
0,1/1/2012 0:00,-1.8,-3.9,86.0,4.0,8.0,101.24,Fog,Fog
1,1/1/2012 1:00,-1.8,-3.7,87.0,4.0,8.0,101.24,Fog,Fog
2,1/1/2012 2:00,-1.8,-3.4,89.0,7.0,4.0,101.26,"Freezing Drizzle,Fog","Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88.0,6.0,4.0,101.27,"Freezing Drizzle,Fog","Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88.0,7.0,4.8,101.23,Fog,Fog
...,...,...,...,...,...,...,...,...,...
8765,12/31/2012 5:00,-10.2,-12.4,84.0,6.0,25.0,101.28,Cloudy,Cloudy
8766,12/31/2012 6:00,-9.7,-11.7,85.0,4.0,25.0,101.23,Cloudy,Cloudy
8767,12/31/2012 7:00,-9.3,-11.3,85.0,0.0,19.3,101.19,Snow Showers,Snow Showers
8768,12/31/2012 8:00,-8.6,-10.3,87.0,4.0,3.2,101.14,Snow Showers,Snow Showers
8770,12/31/2012 10:00,-7.4,-8.9,89.0,4.0,6.4,101.05,"Snow,Fog","Snow,Fog"

## drop(columns=['colum1', 'column2'], axis=0)
drop() function deletes specific rows or columns in a DataFrame. You have to supply the column names or row index and an axis to use it.

In [150]:
data.drop(columns=['weather'],axis=0)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86.0,4.0,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87.0,4.0,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89.0,7.0,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88.0,6.0,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88.0,7.0,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81.0,30.0,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83.0,24.0,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93.0,28.0,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89.0,28.0,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86.0,30.0,11.3,99.89,Snow

## astype()
The astype() function changes the data type of a particular column or DataFrame.

In [151]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date/Time         8784 non-null   object
 1   Temp_C            8784 non-null   float64
 2   Dew Point Temp_C  8784 non-null   float64
 3   Rel Hum_%         8784 non-null   float64
 4   Wind Speed_km/h   8784 non-null   float64
 5   Visibility_km     8784 non-null   float64
 6   Press_kPa         8784 non-null   float64
 7   Weather           8784 non-null   object
 8   weather           8394 non-null   object
dtypes: float64(6), object(3)
memory usage: 617.8+ KB

In [152]:
data['Press_kPa'].astype(object)

0       101.24
1       101.24
2       101.26
3       101.27
4       101.23
         ...
8779    100.13
8780    100.03
8781     99.95
8782     99.91
8783     99.89
Name: Press_kPa, Length: 8784, dtype: object

## select_dytpes(include=[datatype]).columns
Return a subset of the DataFrame’s columns based on the column dtypes.

In [9]:
data.select_dtypes(include=['object']).columns

Index(['Date/Time', 'Weather'], dtype='object')

## isin(values)
Whether each element in the DataFrame is contained in values.

In [11]:
data[data['Weather'].isin({'Fog','Snow'})]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog
5,1/1/2012 5:00,-1.4,-3.3,87,9,6.4,101.27,Fog
6,1/1/2012 6:00,-1.5,-3.1,89,7,6.4,101.29,Fog
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

## ~(condition)
~ is used to remove all the rows on which condition is True

In [15]:
data[~(data['Temp_C']<20)]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
1861,3/18/2012 13:00,20.0,9.9,52,15,48.3,101.55,Mainly Clear
1862,3/18/2012 14:00,21.7,10.5,49,13,48.3,101.45,Mainly Clear
1863,3/18/2012 15:00,22.2,10.4,47,15,48.3,101.39,Mainly Clear
1864,3/18/2012 16:00,22.7,10.7,47,11,48.3,101.35,Mainly Clear
1865,3/18/2012 17:00,21.8,11.0,50,6,48.3,101.32,Mostly Cloudy
...,...,...,...,...,...,...,...,...
7190,10/26/2012 14:00,21.1,13.0,60,9,19.3,101.36,Clear
7191,10/26/2012 15:00,20.4,13.1,63,13,24.1,101.35,Clear
7286,10/30/2012 14:00,20.4,13.2,63,28,24.1,99.50,Mainly Clear
7287,10/30/2012 15:00,20.9,11.8,56,33,24.1,99.47,Mainly Clear
7288,10/30/2012 16:00,20.6,9.9,50,20,24.1,99.49,Mainly Clear